<nav class="navbar  navbar-expand-lg navbar-light  nav-color">
  <div class="container-fluid container-color ">
    <a class="navbar-brand nav-text " href="#"><img style="width: 50px;height: 45px;"
        src="https://firebasestorage.googleapis.com/v0/b/result-f470c.appspot.com/o/cropped-cropped-cropped-cropped-ggv-logo-1-1.png?alt=media&token=34d74983-07b3-410a-8c9e-a1899a5f7773"
        alt="Icon"></a>
    <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link " style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;"
            aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;"
            aria-current="page" href="#">Committe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;"
            aria-current="page" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;"
            aria-current="page" href="#">Member</a>
        </li>
      </ul>
      <div class="ms-auto">
         <a class="nav-link "
            style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;" aria-current="page"
            href="#">Login</a>
       </div>

       <div class="" >
         <a class="nav-link "
            style="color: white;font-weight: bold;font-size: 18px;text-decoration: none;" aria-current="page"
            href="#">SignUp</a>
        




      </div>
    </div>
  </div>
</nav>