<% layout('/layouts/boilerplate') %>

 
</div>
    <div class="row">
       <h2 style="color: whitesmoke; font-weight: bold;text-align: center;">Contact Us</h2>
        <div class="col-8 offset-2 ">

            <div class="card mt-3" >
              
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-8 offset-2 col-md-8" style="font-weight: bold; color:black;font-size: 1rem; text-align: center;">DR. AMIT KUMAR
                                KHASKALAM
                                <p>(Teacher Member Of Cell)</p>
                                <p><span> DEPARTMENT OF INFORMATION TECHNOLOGY</span> </p>
                                <p>GURU GHASIDAS VISHWAVIDYALAYA</p>
                                <p>KONI BILASPUR Pin : 495009</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2 col-md-8  " style="font-weight: bold; color:black;font-size: 1rem; text-align: center;">
                                <p>EMAIL : ggvalumni@gmail.com</p>
                                <p style="margin-left: 5px; font-size: 25px;">Contact Number</p>
                                <p>LAND LINE : 07752 260454</p>
                                <p>Mobile No : 09425280380</p>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
    
  